@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

.slideup,
.slidedown {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.4s ease-in;
}

.slidedown {
  max-height: 200px;
}

@media (min-width: 640px) {
  .slideup,
  .slidedown {
    max-height: none;
    overflow-y: auto;
    transition: max-height 0.4s ease-in;
  }

  .slidedown {
    max-height: none;
  }
}

.modal-mask {
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.modal-container {
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .modal-container {
    width: 400px !important;
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  transform: scale(1.1);
}

.vue-slider {
  @apply pl-2 pr-3;
}
